html,
body {
    height: 100%;
    font-family: '微软雅黑';
}

#container {
    max-width: calc(1366px / 2);
    margin: 0 auto;
    height: 100%;
    background-color: #F2F2F2;
    position: relative;
}


/* plane */

#plane {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    cursor: pointer;
    position: absolute;
    bottom: 2%;
    background-image: url(../img/doge.png);
    background-repeat: no-repeat;
    background-size: 100%;
}


/* monster */

.monster {
    width: 45px;
    height: 45px;
    position: absolute;
    background-image: url(../img/panda.gif);
    background-repeat: no-repeat;
    background-size: 100%;
}


/* bullet */

.bullet {
    width: 20px;
    height: 20px;
    position: absolute;
    background-image: url(../img/shit.png);
    background-repeat: no-repeat;
    background-size: 100%;
}

.bullet.animation {
    animation: rollShit .5s infinite linear;
}

@keyframes rollShit {
    100% {
        transform: rotate(360deg);
    }
}


/* 分数 */

.score_wrap {
    position: absolute;
    right: 20px;
    top: 20px;
    font-size: 22px;
    z-index: 19950606;
    font-weight: bold;
}

#score {
    display: inline-block;
    margin-right: 4px;
}


/* 一些操作按钮 */

#controll_group {
    position: absolute;
    z-index: 19930928;
    left: 10px;
    top: 10px;
    font-size: 16px;
}

.controll_btn {
    display: inline-block;
    margin-right: 6px;
    cursor: pointer;
    transition: all .2s;
    -webkit-transition: all .2s;
    -moz-transition: all .2s;
}

.controll_btn:hover {
    opacity: .7;
}

#shade {
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, .3);
    position: absolute;
    z-index: 19940930;
    visibility: hidden;
}

#shade.on {
    visibility: visible;
}

#pause_layer,
#gameover {
    position: absolute;
    top: 50%;
    left: 50%;
    z-index: 19950606;
    transform: translate(-50%, -50%);
    -webkit-transform: translate(-50%, -50%);
    -moz-transform: translate(-50%, -50%);
    visibility: hidden;
    text-align: center;
}

.pause_btn_item {
    width: 150px;
    height: 30px;
    border: 1px solid #014E5A;
    border-radius: 3px;
    background-color: white;
    text-align: center;
    line-height: 30px;
    margin: 0 auto 10px;
    cursor: pointer;
    transition: all .2s;
    -webkit-transition: all .2s;
    -moz-transition: all .2s;
}

.pause_btn_item:hover {
    opacity: .7;
}

#pause_layer.on,
#gameover.on {
    visibility: visible;
}

.over_msg {
    font-size: 18px;
    margin-bottom: 10px;
}

#game_result {
    display: inline-block;
    padding-left: 4px;
    font-size: 22px;
    font-weight: bold;
}